<% content_for(:title ,'パスワードリセット')%>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>パスワードリセット</h1>
      <%= form_with model: @user, url: password_reset_path(@token), method: :patch do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス：", class: "form-label" %>
          <%= @user.email %>
        </div>
        <div class="mb-3">
          <%= f.label :password, "パスワード", class: "form-label" %>
          <%= f.password_field :password, class: "form-control", placeholder: "パスワード", required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, "パスワード確認", class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード確認", required: true %>
        </div>
        <%= f.submit "更新", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>