<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="list-group">
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= link_to board.title, board_path(board) %></h5>
          <div>
            <%= link_to '#', id: "button-edit-#{board.id}", class: 'btn btn-outline-secondary btn-sm' do %>
              <i class="bi bi-pencil-fill"></i>
            <% end %>
            <%= link_to '#', id: "button-delete-#{board.id}", method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-outline-danger btn-sm' do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </div>
        </div>
        <small><i class="bi bi-person"></i> <%= board.user.decorate.full_name %></small>
        <small><i class="bi bi-calendar"></i> <%= board.created_at.strftime("%Y年%m月%d日 %H:%M") %></small>
        <p class="mb-1 mt-2" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <%= board.body %>
        </p>
      </div>
    </div>
  </div>
</div>
